# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/

# Model weights
*.pt

# Videos & large outputs
*.mp4
*.avi
*.mov
*.gif

# Images (only ignore if you don’t want outputs tracked)
*.jpg
*.png

# YOLO runs directory (if created later)
runs/
